<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{163,72}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{163,72}}</string>
                <key>sourceSize</key>
                <string>{163,96}</string>
            </dict>
            <key>effect21.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{111,86}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,7},{111,86}}</string>
                <key>sourceSize</key>
                <string>{163,96}</string>
            </dict>
            <key>effect22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{109,94}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,2},{109,94}}</string>
                <key>sourceSize</key>
                <string>{163,96}</string>
            </dict>
            <key>effect23.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,115},{107,96}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{107,96}}</string>
                <key>sourceSize</key>
                <string>{163,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect2.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85dd3e9cd69777cc2e0c8de910f9b574$</string>
            <key>textureFileName</key>
            <string>effect2.png</string>
        </dict>
    </dict>
</plist>
