<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,113}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{121,113}}</string>
                <key>sourceSize</key>
                <string>{125,117}</string>
            </dict>
            <key>effect31.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{103,103}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{103,103}}</string>
                <key>sourceSize</key>
                <string>{125,117}</string>
            </dict>
            <key>effect32.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,107},{97,101}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,15},{97,101}}</string>
                <key>sourceSize</key>
                <string>{125,117}</string>
            </dict>
            <key>effect33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{69,91}}</string>
                <key>offset</key>
                <string>{-13,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,18},{69,91}}</string>
                <key>sourceSize</key>
                <string>{125,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect3.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c32623a7f33e7bd706020a81aef0258$</string>
            <key>textureFileName</key>
            <string>effect3.png</string>
        </dict>
    </dict>
</plist>
